.main-div {
    margin-top: 5rem;
    gap: 8rem;
    color: var(--secondary-color);
}
.cover-div {
    width: 100%;
    background: var(--white-color);
    padding: 1rem;
}
.cover-text-box {
    width: 50%;
    text-align: center;
}

.img-cont {
    width: 50%;
    object-fit: cover;
}

.sub-text-box {
    width: 50%;
    color: var(--normal-text-color);
}

.main-text {
    color: var(--yellow-color);
}

.category-box {
    width: 80%;
}

.category-items {
    width: 15rem;
    height: 15rem;
    border-radius: 10px;
    box-shadow: 0 0 6px 4px var(--light-gray-color);
    font-weight: 600;
    transition: all .2s ease-in-out; 
}

.new-div-img {
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}

.overlay-cont {
    position: absolute;
    bottom: 1rem;
    color: var(--lighter-yellow-color);
} 

.category-items:hover {
    transform: scale(1.1);
}

.quiz-div {
    width: 23rem;
    grid-template-rows: auto auto;
    border-radius: 20px;
    background: var(--white-color);
}

.quiz-div:hover {
    box-shadow: 0 0 16px 4px var(--light-gray-color)
}

.quiz-desc {
    padding: 1rem;
    font-size: 1.3rem;
    justify-content: space-between;
}

.pQuiz-img-cont {
    max-height: 12rem;
    height: 100%;
}

.quiz-div-img {
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.btn-play-quiz {
    background: var(--yellow-color);
}

.btn-play-quiz:hover {
    background: transparent;
    border: 2px solid var(--yellow-color);
    color: var(--yellow-color);
    box-shadow: 0 0 8px 4px var(--yellow-color);
}

.quiz-badge {
    background-color: var(--primary-dark-color);
}

.footer-box {
    margin-top: 8rem; 
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    background: var(--primary-dark-color);
    padding: 4rem;
    color: var(--whitesmoke-color);
}

.social-icon {
    text-shadow: 2px 2px 4px var(--light-gray-color);
}

.social-icon:hover {
    transform: translateY(8px);
}

@media only screen and (max-width: 52.5em) {
    .cover-div {
        flex-direction: column-reverse;
    }

    .cover-text-box, .img-cont  {
        width: 100%;
    }

    .sub-text-box {
        width: 80%;
    }
}

@media only screen and (max-width: 37em) {
    .sub-text-box { 
        width: 100%;
    }
}