.quiz-template-main {
    margin: 7rem auto 4rem;
    gap: 4rem;
}

.ques-box {
    width: 35rem;
    border-radius: 8px;
    background: var(--white-color);
    padding: 1rem 2rem;
    box-shadow: 0 0 16px 4px var(--light-gray-color);
}

.ques-top {
    justify-content: space-between;
}

.ans {
    font-size: 1.3rem;
    border: 2px solid var(--light-gray-color); 
    border-radius: 10px;
    font-weight: inherit;
    text-align: center;
    color: var(--gray-color);
    padding: 10px;
}

.right-ans {
    background: var(--green-color);
    border-color: var(--green-color);
    color: var(--white-color);
}

.wrong-ans {
    background: var(--red-color);
    border-color: var(--red-color);
    color: var(--white-color);
}

@media only screen and (max-width: 32em) {
    .ques-box {
        width: 25rem;
    }
}