.nav-box {
    position: fixed;
    top: 0;
    z-index: 9999;
}

.nav-cta-icon {
    position: relative;
}

.nav-items {
    margin-top: 5px;
}

.number-sm-badge {
    top: -10px;
}

@media only screen and (max-width: 864px) {
    .nav-items-box {
        display: flex;
    }

    .nav-cta-box {
        display: none;
    }
}

@media only screen and (max-width: 540px) {
    .mobile-hidden {
        display: none;
    }

    .number-sm-badge {
        top: -7px;
    }
}