<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://nakshatra-ui.netlify.app/lib/components.css">
    <link rel="stylesheet" href="../index.css">
    <title>nakshatra Quiz</title>
</head>
<body>
    <nav class="nav-box nav-div flex-row align-center">
        <div class="nav-section flex-row align-center justify-evenly">
            <div class="hamburger display-none btn-border-none bg-transparent">
                <i class="fas fa-bars"></i>
            </div>
            <div class="brand-title">
                <a href="#">
                    <div class="title font-weight-3">
                        nakshatra <span class="sub-title">Quiz</span>
                    </div>
                </a>
            </div>
            <ul class="flex-row nav-cta-box nav-items-box align-center justify-evenly">
                <li class="nav-items">
                    <a href="#">Home</a>
                </li>
                <li class="nav-items">
                    <a href="#">Dashboard</a>
                </li>
            </ul>
        </div>
    
        <ul class="nav-link-items nav-link-box flex-row align-center justify-around">
            <li class="nav-items mobile-hidden">
                <a class="btn-login" href="#">
                    <button class="btn btn-primary">Login</button>
                </a>
            </li>
            <li class="nav-items user-icon">
                <a href="#">
                    <i class="fas fa-user-alt"></i>
                </a>
            </li>
        </ul>
    </nav>
    <main class="main-div flex-column justify-center align-center gap-2">
        <h3 class="md-heading">Popular Quizess</h3>
        <div class="flex-row justify-evenly align-center gap-2">
            <div class="grid quiz-div card-shadow">
                <div class="pQuiz-img-cont">
                    <img class="img-responsive quiz-div-img" src="./assets/images/wild-life-cover.jpeg" alt="Wildlife Photography Quiz">
                </div>
                <div class="quiz-desc flex-row font-weight-6">
                    <div>
                        <p class="xsm-heading">Wildlife</p>
                        <p>
                            <span class="text-badge badge-pills quiz-badge">Photography</span>
                            <span class="text-badge badge-pills quiz-badge">Level 1</span>
                        </p>
                    </div>
                    <a href="#">
                        <button class="btn btn-play-quiz">Play Now</button>
                    </a>
                </div>
            </div>
            <div class="grid quiz-div card-shadow">
                <div class="pQuiz-img-cont">
                    <img class="img-responsive quiz-div-img" src="./assets/images/ipa-trophy.jpg" alt="Wildlife Photography Quiz">
                </div>
                <div class="quiz-desc flex-row font-weight-6">
                    <div>
                        <p class="xsm-heading">IPA</p>
                        <p>
                            <span class="text-badge badge-pills quiz-badge">Awards</span>
                            <span class="text-badge badge-pills quiz-badge">Level 2</span>
                        </p>
                    </div>
                    <a href="#">
                        <button class="btn btn-play-quiz">Play Now</button>
                    </a>
                </div>
            </div>
            <div class="grid quiz-div card-shadow">
                <div class="pQuiz-img-cont">
                    <img class="img-responsive quiz-div-img" src="./assets/images/DSLR-camera-cover.jpg" alt="Wildlife Photography Quiz">
                </div>
                <div class="quiz-desc flex-row font-weight-6">
                    <div>
                        <p class="xsm-heading">DSLR</p>
                        <p>
                            <span class="text-badge badge-pills quiz-badge">Camera</span>
                            <span class="text-badge badge-pills quiz-badge">Level 1</span>
                        </p>
                    </div>
                    <a href="#">
                        <button class="btn btn-play-quiz">Play Now</button>
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>
</html