<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://nakshatra-ui.netlify.app/lib/components.css">
    <link rel="stylesheet" href="../index.css">
    <title>Wildlife Photography</title>
</head>
<body>
    <nav class="nav-box nav-div flex-row align-center">
        <div class="nav-section flex-row align-center justify-evenly">
            <div class="hamburger display-none btn-border-none bg-transparent">
                <i class="fas fa-bars"></i>
            </div>
            <div class="brand-title">
                <a href="../index.html">
                    <div class="title font-weight-3">
                        nakshatra <span class="sub-title">Quiz</span>
                    </div>
                </a>
            </div>
            <ul class="flex-row nav-cta-box nav-items-box align-center justify-evenly">
                <li class="nav-items">
                    <a href="../index.html">Home</a>
                </li>
                <li class="nav-items">
                    <a href="#">Dashboard</a>
                </li>
            </ul>
        </div>
    
        <ul class="nav-link-items nav-link-box flex-row align-center justify-around">
            <li class="nav-items mobile-hidden">
                <a class="btn-login" href="#">
                    <button class="btn btn-primary">Login</button>
                </a>
            </li>
            <li class="nav-items user-icon">
                <a href="#">
                    <i class="fas fa-user-alt"></i>
                </a>
            </li>
        </ul>
    </nav>
    <main class="quiz-template-main flex-column justify-center align-center">
        <h3 class="xmd-heading">Wildlife Photography</h3>
        <div class="flex-column gap-2 ques-box font-weight-5">
            <div class="ques-top flex-row align-center">
                <p>Question: 1/5</p>
                <p>Score: -10</p>
            </div>
            <p class="xsm-heading">What is the favorite camera choice among professional bird photographers?</p>
            <div class="flex-column gap-1">
                <label for="ans-canon" class="ans bg-transparent right-ans card-shadow">
                    <input type="radio" class="display-none" id="ans-canon" name="ans-canon"/>
                    Canon
                </label>
                <label for="ans-nikon" class="ans bg-transparent">
                    <input type="radio" class="display-none" id="ans-nikon" name="ans-nikon"/>
                    Nikon
                </label>
                <label for="ans-sony" class="ans bg-transparent wrong-ans card-shadow" >
                    <input type="radio" class="display-none" id="ans-sony" name="ans-sony"/>
                    Sony
                </label>
                <label for="ans-none" class="ans bg-transparent">
                    <input type="radio" class="display-none" id="ans-none" name="ans-none"/>None the above
                </label>
            </div>
            <div class="center-align">
                <a href="./result.html">
                    <button class="btn btn-primary">Submit</button>
                </a>
            </div>
        </div>
    </main>
</body>
</html